<!doctype html>
<html ng-app="docsTimeDirective">
  <head>
    <script src="http://code.angularjs.org/1.2.25/angular.min.js"></script>
    <script src="script2.js"></script>
  </head>
  <body>
    <!-- <div ng-controller="Ctrl2">
      Date format: <input ng-model="format"> <hr/>
      Current time is: <span my-current-time="format"></span>
    </div> -->
    <div ng-controller="Ctrl2">
      Date Format: <input ng-model="format"> <hr/>
      Current time: <span my-current-time='format'></span>
    </div>
  </body>
</html>